.skill-breakdown {
    margin: 150px;
    /*margin-right: 50%; */
    flex: 1;
}

.progress {
    margin: 10px;
    height: 25px;
}

.skill-breakdown p{
    margin-left: 20px;
}

.main-space {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.side-images {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    margin: 90px;
    align-content: space-around;
    background-color: rgb(255, 255, 255);
}

.side-images img {
    margin: 5px 5px 5px 5px;
}